In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [2]:
import numpy as np
import pandas as pd
import pymysql
import datetime as dt

In [3]:
# 打开数据库连接
conn = pymysql.connect(host='localhost', user='root', password='abc123', database='testdb')

# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()

In [4]:
# # 创建数据库表

# # 使用 execute() 方法执行 SQL，如果表存在则删除
# cursor.execute('DROP TABLE IF EXISTS TEST01')
 
# # 使用预处理语句创建表
# sql = """CREATE TABLE TEST01 (
#          trade_date  DATETIME NOT NULL,
#          stock_code  VARCHAR(20) NOT NULL,
#          primary key (trade_date, stock_code)
#         )"""
 
# cursor.execute(sql)

0

In [9]:
# 数据库插入操作
# sql = """INSERT INTO TEST01(trade_date, stock_code)
#          VALUES('2020-01-03', '000001.SZ')"""

# try:
#     cursor.execute(sql)
#     conn.commit()
# except:
#     conn.rollback()


# 数据插入操作-多行 方法1
# add_list = [('2020-01-04', '000001.SZ'), ('2020-01-05', '000001.SZ'), ('2020-01-06', '000001.SZ')]
# sql = """INSERT INTO TEST01(trade_date, stock_code) VALUES"""

# for i,(t,d) in enumerate(add_list):
#     if i>0:
#         sql = sql + ", ('" + t + "', '" + d + "')"
#     else:
#         sql = sql + " ('" + t + "', '" + d + "')"

# try:
#     cursor.execute(sql)
#     conn.commit()
# except:
#     conn.rollback()
    
    
# 数据插入操作-多行 方法2
add_list = [('2020-02-01', '000002.SZ'), ('2020-02-02', '000002.SZ'), ('2020-02-03', '000002.SZ')]
sql = """INSERT INTO TEST01(trade_date, stock_code) VALUES(%s, %s)"""

try:
    cursor.executemany(sql, add_list)
    conn.commit()
except:
    conn.rollback()

In [6]:
# 数据库查询操作
sql = """
        SELECT * FROM TEST01;
    """

try:
    cursor.execute(sql)
    results = cursor.fetchall()
except:
    print('Error: unable to fetch data!')

In [7]:
results

((datetime.datetime(2020, 1, 4, 0, 0), '000001.SZ'),
 (datetime.datetime(2020, 1, 5, 0, 0), '000001.SZ'),
 (datetime.datetime(2020, 1, 6, 0, 0), '000001.SZ'))

In [ ]:
# 删除表

In [24]:
conn.close()