In [ ]:
# 统计各行业的股票数量

In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [2]:
import os
import numpy as np
import pandas as pd
import baostock as bs

import sys
sys.path.append('..')

In [3]:
lg = bs.login()

login success!

### 沪深300

In [39]:
rs = bs.query_hs300_stocks()
hs300_comps_df = pd.DataFrame(rs.data, columns=rs.fields)

In [40]:
rs2 = bs.query_stock_industry()
industry_df = pd.DataFrame(rs2.data, columns=rs2.fields)

In [41]:
df = pd.merge(hs300_comps_df, industry.loc[:, ['code', 'industry']], left_on='code', 
              right_on='code', how='inner')

In [42]:
summary = df.groupby('industry').apply(len)

In [43]:
summary.sort_values(ascending=False)

industry
医药生物    38
非银金融    37
电子      33
银行      23
食品饮料    15
化工      14
计算机     13
交通运输    13
电气设备    12
机械设备    10
房地产     10
汽车      10
有色金属     9
国防军工     9
传媒       8
公用事业     7
建筑装饰     6
家用电器     6
农林牧渔     5
通信       4
采掘       4
建筑材料     3
轻工制造     3
商业贸易     3
钢铁       3
休闲服务     2
dtype: int64

### 中证500

In [21]:
rs = bs.query_zz500_stocks()
zz500_comps_df = pd.DataFrame(rs.data, columns=rs.fields)

In [27]:
zz500_comps_df.head()

   updateDate       code code_name
0  2021-08-09  sh.600006      东风汽车
1  2021-08-09  sh.600008      首创环保
2  2021-08-09  sh.600021      上海电力
3  2021-08-09  sh.600022      山东钢铁
4  2021-08-09  sh.600026      中远海能

In [30]:
df = pd.merge(zz500_comps_df, industry.loc[:, ['code', 'industry']], left_on='code', 
              right_on='code', how='inner')

In [34]:
summary = df.groupby('industry').apply(len)

In [37]:
summary.sort_values(ascending=False)

industry
医药生物    48
化工      38
电子      32
房地产     28
公用事业    27
计算机     27
传媒      25
有色金属    23
交通运输    22
非银金融    21
钢铁      18
汽车      18
机械设备    17
电气设备    17
食品饮料    16
国防军工    16
商业贸易    14
采掘      14
通信      13
银行      12
农林牧渔    11
建筑装饰    10
建筑材料    10
轻工制造     9
家用电器     7
纺织服装     3
综合       2
休闲服务     2
dtype: int64